.footer-container{
    background:#FBD062;
    padding:50px;

}
.footer h1{
    font-size:34px;
}
.footer small{
    font-size:14px;
}
@media only screen and (max-width:767px){
    .footer h1{
        font-size:30px;
        text-align:center;
    }
    .footer small{
        display:block;
        text-align:center;
        margin-bottom:60px;
    }
}